PORT=

NODE_ENV=

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

SESSION_SECRET=
JWT_SECRET=
JWT_REFRESH_SECRET=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_EXPIRY=

MINIO_ENDPOINT= 
MINIO_ROOT_USER= 
MINIO_ROOT_PASSWORD= 