PORT=

NODE_ENV=
ENVIRONMENT=

DB_TYPE=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_SYNCHRONIZE=
DB_LOGGING=

SESSION_SECRET=
JWT_SECRET=
JWT_REFRESH_SECRET=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_EXPIRY=

MINIO_ENDPOINT= 
MINIO_ROOT_USER= 
MINIO_ROOT_PASSWORD= 

LOG_LEVEL=

UPLOAD_DIR=
MAX_FILE_SIZE=